################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/ProfileEdit/.vs/ProfileEdit
/ProfileEdit/ProfileEdit/bin
/ProfileEdit/ProfileEdit/obj
/.vs
